.App {
  
}

.App-logo {
  height: 4em;
}

.App-header {
  background-color: white;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
