#rewardtrack {
  background: green;
  width: 100% !important;
}

.flex-row {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
   flex-direction: row;
  width: 100%;
}

.flex-col {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
   flex-direction: column;
   width: 100%;
}


